@mixin centerer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  padding: 0;
  margin: 0;
}

.chat-thread {
  @include centerer;
}

ul {
  padding: 0;
}

.message {
  background: #eee;
  list-style: none;
}
