.inbox-message {
	padding: 15px;
	position: relative;
  width: 550px;
  border-bottom: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
}

.inbox-message-name {
	float: left;
	font-weight: bold;
	width: 50%;
}

.inbox-message-date {
	float: left;
	text-align: right;
	width: 50%;
}

.inbox-message-text {
	color: #aaa;
	float: left;
	padding-top: 10px;
}