.arrow {
  color: #D8D8D8;
  font-size: 64px;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  right: 10px;
}

.users {
  height: 100%;
}


.user {
  border-bottom: 2px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  padding: 35px 30px 40px 30px;
  position: relative;
  width: 550px;
  .label {
    margin-top: 2px;
    margin-right: 10px;

  }
  > div {
    float: left;
    height: 45px;
    width: 243px;
  }
  .bio {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  &:hover {
    .arrow {
      color: #F67114;
    }
  }
  @include bp(baby-bear) {
    border-right: none;
    width: 100%;
  }
}