.search {
  padding-left: 25px;
  width: 400px;

  .input {
    float: right;
  }

  @include bp(baby-bear) {
  	width: 100%;
  }
}

.search-intro {

  letter-spacing: -1px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.search-submit {
  float: right;
}

.search-label {
  @extend %label;
}