* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}


/* Shared styles */

.button {
  background: rgba(128, 204, 238, 1);
  font-size: 14px;
  border: 0;
  color: white;
  padding: 15px 20px;

  &:hover {
    background: rgba(128, 204, 238, 0.8);
  }
}

.label, %label {
  float: left;
  font-family: Roboto-Bold;
  font-size: 14px;
  margin-top: 5px;
  color: #A2A2A2;
  text-transform: uppercase;
}

.input {
  border: 1px #ccc solid;
  height: 31px;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.13);
  float: right;
  padding: 8px 8px 8px 5px;
  width: 250px;
}

.input-group {
  margin-bottom: 15px;
}

[role="navigation"],
[role="main"],
[role="complementary"] {
  transition: .2s all ease;
}

[role="main"] {
  margin-left: 120px;
}

.nav-button {
  display: none;
}

.aside-button {
  background: $brand-color;
  color: white;
  padding: 5px 8px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

@include bp(baby-bear) {

  [role="navigation"] {
    margin-left: -120px;
    float: left;
  }

  [role="main"] {
    height: 100%;
    margin-left: 0;
    padding-top: 20px;
    float: left;
    width: 100%;
    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
  }

  [role="complementary"] {
    margin-right: -200%;
    float: right;
    width: 100%;
  }

  .active-nav [role="navigation"] {
    margin-left: 0;
    width: 80%;
  }
  .active-nav [role="main"]{
    margin-right: -100%;
    &:before {
      z-index: 100;
    }
  }
  .active-nav [role="complementary"] {
    float: right;
    transition: 0ms;
  }

  .active-sidebar [role="navigation"] {
    margin-left: -100%;
  }
  .active-sidebar [role="main"] {
    margin-left: -100%;
  }
  .active-sidebar [role="complementary"] {
    margin-left: 0;
  }

  .nav-button {
    display: block;
  }

  .aside-button {
    display: block;
  }
}