* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  margin-left: 120px;
}


/* Shared styles */

.button {
  background: rgba(128, 204, 238, 1);
  font-size: 14px;
  border: 0;
  color: white;
  padding: 15px 20px;

  &:hover {
    background: rgba(128, 204, 238, 0.8);
  }
}

.label, %label {
  float: left;
  font-family: Roboto-Bold;
  font-size: 14px;
  margin-top: 5px;
  color: #A2A2A2;
  text-transform: uppercase;
}

.input {
  border: 1px #ccc solid;
  height: 31px;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.13);
  float: right;
  padding: 8px 8px 8px 5px;
  width: 250px;
}

.input-group {
  margin-bottom: 15px;
}