@import url(http://fonts.googleapis.com/css?family=Fira+Sans:700|Roboto:400,500);
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

* {
  box-sizing: border-box; }

a {
  color: #F67114; }

ul {
  padding: 0; }

html, body {
  height: 100%; }

body {
  font-family: "Roboto";
  padding: 0;
  margin: 0; }

h3 {
  letter-spacing: -1px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px; }

/* Shared styles */
.button {
  background: #80ccee;
  font-size: 14px;
  border: 0;
  margin: 0;
  color: white;
  padding: 15px 20px; }
  .button:hover {
    background: rgba(128, 204, 238, 0.8); }

.label, .search-label {
  float: left;
  font-family: Roboto-Bold;
  font-size: 14px;
  margin-top: 5px;
  color: #A2A2A2;
  text-transform: uppercase; }
  @media (max-width: 650px) {
    .label, .search-label {
      margin-bottom: 10px; } }

.input {
  border: 1px #ccc solid;
  height: 31px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.13);
  padding: 8px 8px 8px 5px;
  width: 250px; }
  @media (max-width: 650px) {
    .input {
      width: 100%; } }

.input-group {
  margin-bottom: 15px;
  max-width: 550px; }

[role="navigation"],
[role="main"],
[role="complementary"] {
  transition: .2s all ease; }

[role="main"] {
  margin-left: 120px; }

.nav-button {
  display: none; }

.aside-button {
  background: #F67114;
  color: white;
  padding: 5px 8px;
  display: none;
  position: absolute;
  left: 0;
  top: 0; }

@media (max-width: 650px) {
  [role="navigation"] {
    margin-left: -120px;
    float: left; }

  [role="main"] {
    height: 100%;
    margin-left: 0;
    padding-top: 20px;
    float: left;
    width: 100%; }
    [role="main"]:before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1; }

  [role="complementary"] {
    margin-right: -200%;
    float: right;
    width: 100%; }

  .active-nav [role="navigation"] {
    margin-left: 0;
    width: 80%; }

  .active-nav [role="main"] {
    margin-right: -100%; }
    .active-nav [role="main"]:before {
      z-index: 100; }

  .active-nav [role="complementary"] {
    float: right;
    transition: 0ms; }

  .active-sidebar [role="navigation"] {
    margin-left: -100%; }

  .active-sidebar [role="main"] {
    margin-left: -100%; }

  .active-sidebar [role="complementary"] {
    margin-left: 0; }

  .nav-button {
    display: block; }

  .aside-button {
    display: block; } }
ul.notifications {
  top: 10px;
  right: 10px; }

.notification .message {
  background: transparent; }

li.notification.info {
  background-color: #80ccee; }

.header {
  background: #F67114;
  height: 100%;
  padding: 15px 0 0 0;
  width: 120px;
  position: fixed;
  left: 0;
  top: 0; }
  @media (max-width: 650px) {
    .header {
      position: relative; } }

.main-nav {
  list-style: none;
  width: 100%; }
  .main-nav li {
    font-size: 14px;
    width: 100%; }
    .main-nav li:hover {
      background: rgba(255, 255, 255, 0.3); }
  .main-nav a {
    color: white;
    display: block;
    padding: 15px 0 15px 15px;
    text-decoration: none; }

.brand {
  color: white;
  display: block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  line-height: 1em;
  padding-left: 15px;
  text-transform: uppercase;
  text-decoration: none; }
  .brand span {
    color: rgba(255, 255, 255, 0.5); }

.nav-button {
  color: white;
  padding: 5px 8px;
  background: #F67114;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 100; }

.search {
  padding-left: 25px;
  width: 400px; }
  .search .input {
    float: right; }
  @media (max-width: 650px) {
    .search {
      padding: 0 25px;
      width: 100%; } }

.search-intro {
  letter-spacing: -1px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px; }

.search-submit {
  float: right; }

.arrow {
  color: #D8D8D8;
  font-size: 64px;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  right: 10px; }

.users {
  height: 100%; }

.user {
  border-bottom: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  padding: 35px 30px 40px 30px;
  position: relative;
  width: 550px; }
  .user .label {
    margin-top: 2px;
    margin-right: 10px; }
  .user > div {
    float: left;
    height: 45px;
    width: 243px; }
  .user .bio {
    height: auto;
    width: 100%;
    margin-bottom: 20px; }
  .user:hover .arrow {
    color: #F67114; }
  @media (max-width: 650px) {
    .user {
      border-right: none;
      width: 100%; } }

.form {
  padding: 0 20px;
  padding-top: 20px;
  width: 550px; }
  @media (max-width: 650px) {
    .form {
      width: 100%; } }
  .form .label {
    height: 31px;
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 200px;
    text-align: left; }
    @media (max-width: 650px) {
      .form .label {
        margin-bottom: 0; } }
  .form .input {
    height: 31px;
    float: right;
    margin-bottom: 20px;
    width: 305px; }
    @media (max-width: 650px) {
      .form .input {
        float: left;
        width: 100%; } }
  .form .label-textarea {
    height: 150px; }
    @media (max-width: 650px) {
      .form .label-textarea {
        height: 31px; } }
  .form .textarea {
    height: 150px;
    width: 305px; }
    @media (max-width: 650px) {
      .form .textarea {
        float: left;
        width: 100%; } }
  .form .submit {
    float: right;
    margin-bottom: 20px; }

.input.invalid {
  border: 1px red solid; }

.aside {
  float: left;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  left: 670px;
  top: 0; }
  @media (max-width: 650px) {
    .aside {
      position: relative;
      left: auto;
      top: auto; } }

.chat-thread {
  background: #F5F5F5;
  overflow-y: scroll;
  height: 100%;
  height: calc(100% - 72px);
  width: 350px; }
  .chat-thread ul {
    margin: 0;
    padding: 32px; }
  @media (max-width: 650px) {
    .chat-thread {
      width: 100%; } }

.message {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  list-style: none; }
  .message.owned {
    background: #D6F2FF; }

.chat-input {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%; }
  .chat-input .input {
    margin: 0;
    width: 100%; }
  .chat-input [type=submit] {
    border: 0;
    color: white;
    font-size: 18px;
    padding: 10px 0;
    display: block;
    margin: 0;
    background: #F67114;
    width: 100%; }
    .chat-input [type=submit]:hover {
      cursor: pointer;
      background: #f88f45; }

.inbox-message {
  padding: 15px;
  position: relative;
  width: 550px;
  border-bottom: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8; }
  @media (max-width: 650px) {
    .inbox-message {
      width: 100%; } }

.inbox-message-name {
  float: left;
  font-weight: bold;
  width: 50%; }

.inbox-message-date {
  float: left;
  text-align: right;
  width: 50%; }

.inbox-message-text {
  color: #aaa;
  float: left;
  padding-top: 10px; }

.entry {
  margin-top: 0;
  padding: 25px; }
  .entry .entry-signup-cta,
  .entry .entry-signin-cta {
    text-align: left; }

.entry h3 {
  text-align: left; }

.entry .input-group .input {
  float: right; }
.entry .input-group .label {
  float: left; }
