@import url(http://fonts.googleapis.com/css?family=Fira+Sans:700|Roboto:400,500);
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

* {
  box-sizing: border-box; }

ul {
  padding: 0; }

body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  margin-left: 120px; }

/* Shared styles */
.button {
  background: #80ccee;
  font-size: 14px;
  border: 0;
  color: white;
  padding: 15px 20px; }
  .button:hover {
    background: rgba(128, 204, 238, 0.8); }

.label, .search-label {
  float: left;
  font-family: Roboto-Bold;
  font-size: 14px;
  margin-top: 5px;
  color: #A2A2A2;
  text-transform: uppercase; }

.input {
  border: 1px #ccc solid;
  height: 31px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.13);
  float: right;
  padding: 8px 8px 8px 5px;
  width: 250px; }

.input-group {
  margin-bottom: 15px; }

ul.notifications {
  top: 10px;
  right: 10px; }

.notification .message {
  background: transparent; }

li.notification.info {
  background-color: #80ccee; }

.header {
  background: #F67114;
  height: 100%;
  padding: 15px 0 0 0;
  width: 120px;
  position: fixed;
  left: 0;
  top: 0; }

.main-nav {
  list-style: none;
  width: 100%; }
  .main-nav li {
    padding: 15px 0 15px 15px;
    font-size: 14px;
    width: 100%; }
    .main-nav li:hover {
      background: rgba(255, 255, 255, 0.3); }
  .main-nav a {
    color: white;
    text-decoration: none; }

.brand {
  color: white;
  display: block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  line-height: 1em;
  padding-left: 15px;
  text-transform: uppercase;
  text-decoration: none; }
  .brand span {
    color: rgba(255, 255, 255, 0.5); }

.search {
  padding-left: 25px;
  width: 400px; }

.search-intro {
  letter-spacing: -1px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px; }

.search-submit {
  float: right; }

.arrow {
  color: #D8D8D8;
  font-size: 64px;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  right: 10px; }

.users {
  height: 100%; }

.user {
  border-bottom: 2px solid #D8D8D8;
  padding: 35px 30px 40px 30px;
  position: relative;
  width: 550px; }
  .user .label {
    margin-top: 2px;
    margin-right: 10px; }
  .user > div {
    float: left;
    height: 45px;
    width: 245px; }
  .user .bio {
    height: auto;
    width: 100%;
    margin-bottom: 20px; }
  .user:hover .arrow {
    color: #F67114; }

.profile {
  padding-top: 20px;
  width: 550px; }
  .profile .label {
    height: 31px;
    padding-left: 20px;
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 200px;
    text-align: left; }
  .profile .input {
    height: 31px;
    float: right;
    margin-bottom: 20px;
    width: 325px; }
  .profile .label-bio {
    height: 150px; }
  .profile #bio {
    height: 150px;
    width: 325px; }
  .profile .profile-save {
    float: right;
    margin-bottom: 20px; }

.aside {
  float: left;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  left: 670px;
  top: 0; }

.chat-thread {
  background: #F5F5F5;
  overflow-y: scroll;
  height: 100%;
  height: calc(100% - 72px);
  width: 350px; }
  .chat-thread ul {
    padding: 32px; }

.message {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  list-style: none; }
  .message.owned {
    background: #D6F2FF; }

.chat-input {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%; }
  .chat-input .input {
    margin: 0;
    width: 100%; }
  .chat-input [type=submit] {
    border: 0;
    color: white;
    font-size: 18px;
    padding: 10px 0;
    display: block;
    margin: 0;
    background: #F67114;
    width: 100%; }
    .chat-input [type=submit]:hover {
      cursor: pointer;
      background: #f88f45; }
